.btn.account.signup {
    background-color: #fff;
    border-color: #727CF5;
    color: #727CF5;
    width: 30rem;
    height: 30rem;
}

.btn.account:hover {
    background-color: #727CF5;
    color: #fff;
    border-color: #fff;
}
.top{
    margin-top: 7rem;
}
