/* Banner-1 styling section */
main #banner-1 {
    background-image:
            linear-gradient(90deg, rgba(114, 124, 245, 0.37) 0.05%, rgba(0, 102, 255, 0.37) 100.05%);
            /* url('../../images/students-banner-image.png'); */
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main #banner-1 > h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 59px;
    line-height: 88px;
    text-align: center;
    color: #FFFFFF;
}

main #banner-1 .url-route {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;

    color: #FFFFFF;
}

main #banner-1 .url-route > a {
    color: #ffffff;
}

#university-information, #faculty-list {
    margin: 3.75em 2.5em;
    padding: 1.25em 1.25em 3.75em 3.75em;
    display: flex;
    flex-direction: column;
    background: rgba(151, 158, 237, 0.04);
}

#university-information #inf-img {
    display: flex;
    flex-direction: row;
}

#university-information div .general-information {
    width: 60%;
    height: auto;
    margin-right: 3em;
}

#university-information div  img {
    width: 40%;
    height: 25em;
    align-content: center;
}


#university-information h3, #faculty-list h3  {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.875em;
    line-height: 44px;
    margin-bottom: 1.87em;
    color: rgba(0, 0, 0, 0.53);
}

#university-information div .general-information p {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.625em;
    line-height: 35px;
    color: rgba(0, 0, 0, 0.53);
}

#faculty-list h3 {
    text-align: center;
}

#faculty-list p, #faculty-list li {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 550;
    font-size: 1.75em;
    line-height: 39px;
    color: rgba(114, 124, 245, 0.82);
}

#faculty-list li {
    color: #969292;
}

#reviews {
    margin: 3.75em 2.5em;
    padding: 3.125em;
    display: flex;
    flex-direction: column;
    background: rgba(151, 158, 237, 0.04);
}

#reviews h1 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 5.375em;
    line-height: 115px;
    color: #5966FF;
}

#reviews #review-list {
    background: #FFFFFF;
    padding: 2.5em;
}

.review .person-name {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2em;
    color: #000000;
}

.review .person-comment {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    line-height: 39px;
    color: #A49B9B;
}

#reviews textarea {
    background: #F5F5F5;
    width: 960px;
    height: 320px;
    border: none;
    outline: none;
}

#reviews textarea::placeholder {
    color: #C6C0C0;
}

#reviews button[type="submit"] {
    background: #51A2ED;
    border-radius: 1.875em;
    width: 12em;
    height: 1.6em;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2em;
    line-height: 39px;
    color: #FFFFFF;
    display: block;
    border: none;
    margin-top: 1em;
}

.star-rating {
    color: #FABF35;
    float: right;
}

@media screen and (max-width: 990px){
    #university-information, #faculty-list {
        margin: 1.75em 0.5em;
        padding: 0.25em 1.75em;
    }
    #university-information #inf-img {
        flex-direction: column;
    }

    main #banner-1 .url-route {
        text-align: center;
    }

    #university-information div .general-information{
        width: 100%;
    }

    #university-information div  img {
        width: 100%;
    }
    #university-information h3, #faculty-list h3 {
        font-size: 1.5em;
        line-height: 35px;
    }
    #university-information div .general-information p, #faculty-list p, #faculty-list li{
        font-size: 1.3em;
        line-height: 30px;
    }

    #reviews {
        margin: 1.75em 0.5em;
        padding: 0.5em;
    }

    #reviews h1 {
        font-size: 3em;
    }

    #reviews #review-list {
        padding: 1.75em;
    }

    .review .person-name, .review .person-comment {
        font-size: 1.5em;
        line-height: 1.5em;
    }

    #reviews textarea {
        width: 100%;
    }
    #reviews button[type="submit"] {
        width: 100%;
    }

    main #banner-1 .url-route{
        font-size: 1em;
    }

}
